/* main.css */

.header {
    padding-top: 0px;
    text-align: center;
    justify-content: center;
    font-family: Arial;
    font-style: bold;
    color: #000000;
}

.header p {
    text-align: left;
    margin: auto;
    width: 80%;
}

.header img {
    text-align: center;
}

.sketch {
    margin: 0;
    display: flex;
    /* This centers the sketch horizontally. */
    justify-content: center;
}

body {
    background-color: #F5EFEF;
    font-family: Arial;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.row {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    --navbar-text-color: #eff5f2;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: Arial;
    font-style: bold;
    color: var(--navbar-text-color);
    background-color: #5F717B;
}

.navbar a {
    text-decoration: none;
    font-family: Arial;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 20px;
    color: var(--navbar-text-color);
}

.navbar a:hover {
    color: #1f1f2e;
}

canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
}